* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


h1, h2, h3, p {
    cursor: default;
}

:root {
    --glass-color: rgba(255, 255, 255, .3);
    --shadow-color: rgba(0, 0, 0, .2);
}

.error_msg {
    color: #FF3C00;
    font-weight: 600;
    margin-top: 4px;
}

header {
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    /* blur behind the element */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
}

header * {
    color: #00B383;
    text-shadow: -2px -2px 4px #333;
}

header h1 {
    margin-left: 50px;
}

header nav ul {
    display: flex;
    list-style: none;
    font-weight: 600;
}


header nav a {
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 30px;
}

header nav a:hover {
    color: #fff;
    text-shadow: 1px 1px 6px #ddd;
}

main {
    padding-top: 90px;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backiee-80478-landscape-1920x1080.jpg);
    background-size: cover;
}

/* ------ INDEX ------ */

#index-title {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 3em;
    margin-top: 5em;
    color: #eee;
    text-shadow: 4px 4px 4px #222;
}

/* ------ FORM ------ */

main .form-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

main .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--glass-color);
    padding: 3rem 6rem;
    border-radius: 20px;
    border-left: 1px solid var(--glass-color);
    border-top: 1px solid var(--glass-color);

    /* blur behind the element */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);

    /* box-shadow: x y blur spread */
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
    text-align: center;
    
}

main .form-container form h2 {
    color: #fff;
    /* font-weight: 500; */
    opacity: .9;
    margin-bottom: 2em;
    text-shadow: 2px 2px 4px var(--shadow-color);
}

main .form-container form input {
    display: block;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--glass-color);
    border-top: 1px solid var(--glass-color);
    padding: 1rem;
    border-radius: 50px;

    /* blur behind the element */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);

    /* box-shadow: x y blur spread */
    box-shadow: 4px 4px 60px var(--shadow-color);
    color: #fff;
    text-shadow: 2px 2px 4px var(--shadow-color);
    transition: all .3s;
    margin-top: 2em;
    font-weight: 600;
    outline-color: rgba(50, 50, 50, .3);
}

main .form-container form input[type='text'],
main .form-container form input[type='password'] {
    font-size: 1rem;
}

main .form-container form input:hover,
main .form-container form input[type='text']:focus,
main .form-container form input[type='password']:focus {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 4px 4px 60px 8px var(--shadow-color);
}

main .form-container form input[type='submit'] {
    cursor: pointer;
    margin-top: 1.8em;
    font-size: 1.5rem;
    width: fit-content;
}

main .form-container form input ::placeholder {
    color: #fff;
}



/* ------- TABLE ------ */

main .table-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

main .table-container table {
    border-collapse: collapse;
}

main .table-container table thead  {
    background-color: #00B383;
}

main .table-container table th {
    color: #fff;
}

main .table-container table th, table td {
    font-size: 1.2em;
    padding: 10px 12px;
}

main .table-container table tr:nth-child(even) {
    color: #222;
    background-color: var(--glass-color);
    
    /* blur behind the element */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

main .table-container table tr:nth-child(odd) {
    color: #ddd;
    background-color: var(--shadow-color);
    
    /* blur behind the element */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}
